.container {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: url(https://images.unsplash.com/photo-1590865933718-7a6200217e75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  font-family: "Pacifico", cursive !important;
  font-size: 32px !important;
}
